.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--button-primary-text);
    background-color: var(--button-primary-background);
    border: none;
    border-radius: 6px;
}

.button.buttonPrimary {
    background-color: var(--main-color);
}
.button.buttonSecondary {
    background-color: var(--main-color);
}

.button[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}