.listContainer {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    gap: 16px;
    padding: 16px;
    width: 85%;
}

.listContainer .sentenceButton.sentenceSelected {
    opacity: 0.7;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
}