.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  color: var(--text-primary);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  padding: 20px;
}