.bingoCell {
    border: 2px solid black;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.bingoCell.filler {
    background-color: #858585;
    cursor: default;
}
.bingoCell.selected {
    background-color: #44a047;
    color: var(--button-primary-text);
}